<div class="info">
  <h3>Sections#delete</h3>
  <p>Find me in app/views/sections/delete.html.erb</p>
</div>

</br></br>
<%= link_to("<< Back to List", sections_path, :class => "back-link")%>

<div class="sections delete">
  <h2>Delete section</h2>

  <%# form_for(@section, :url => sections_path, :method => "delete") do |f| %>
  <%= form_for(@section, :method => "delete") do |f|%> <%# passing delete method
  is necessary here as by default edit will be considered by rails for the saved
  object and not delete. %>
  <p>Are you sure you want to permanently delete this section ?</p>

  <p class="reference-name"><%= f.object.name %></p>
  <%# other way was to write @section.name to get the name. %>

  <div class="form-buttons"><%= f.submit("Delete section")%></div>
  <% end %>
</div>
