<div class="info">
    <h3>Sections#new</h3>
    <p>Find me in app/views/sections/new.html.erb</p>
</div>

</br>
</br>
<%= link_to("<< Back to List", sections_path, :class => "back-link")%>

<div class="sections new">
    <h2>Create section</h2>

    <%# form_for helper for dynamic form for sections edit/new action so no need to specify the method and url It's smart enough to know that the @section object is new/saved. %>
    <%# form_for(@section, :url => sections_path, :method => "post") do |f| %>
    <%= form_for(@section) do |f|%>

        <%= render(:partial => "form", :locals => {:f => f})%>
        <div class="form-buttons">
            <%= f.submit("Create section")%>
        </div>
    <% end %>
</div>