<h1>Pages#new</h1>
<p>Find me in app/views/pages/new.html.erb</p>

<%= link_to("<< Back to List", pages_path, :class => "back-link")%>

<div class="pages new">
    <h2>Create page</h2>

    <%# form_for helper for dynamic form for pages edit/new action so no need to specify the method and url It's smart enough to know that the @page object is new/saved. %>
    <%# form_for(@page, :url => pages_path, :method => "post") do |f| %>
    <%= form_for(@page) do |f|%>

        <%= render(:partial => "form", :locals => {:f => f})%>

        <div class="form-buttons">
            <%= f.submit("Create page")%>
        </div>
    <% end %>
</div>