<div class="info">
    <h3>Subjects#edit</h3>
    <p>Find me in app/views/subjects/edit.html.erb</p>
</div>

</br></br>
<%= link_to("<< Back to List", subjects_path, :class => "back-link")%>

<div class="subjects edit">
    <h2>Update Subject</h2>

    <%# form_for helper for dynamic form for subjects edit/new action so no need to specify the method and url It's smart enough to know that the @subject object is new/saved. %>
    <%# form_for(@subject, :url => subjects_path, :method => "patch") do |f| %>
    <%= form_for(@subject) do |f|%>

        <%# need to send local variable f to the partial template %>
        <%= render(:partial => "form", :locals => {:f => f}) %>
        <div class="form-buttons">
            <%= f.submit("Update Subject")%>
        </div>
    <% end %>
</div>