<div class="info">
    <h3>Public#index</h3>
    <p>Find me in app/views/public/index.html.erb</p>
</div>
    
</br>

<h2>Welcome to the Simple CMS web app</h2>
<p>MY first ruby on rails application.</p>